<div class="topcoat-grid details-grid">
  <div class="topcoat-grid__row fixedHeightHelpBox">
    <div class="topcoat-grid__column--10 topcoat-grid__offset--1">
      <h1 style="text-align: center;">Yo Alcalde</h1>
      <img src="img/Icon.png" height="150" width="150" style="display: block; margin-left: auto; margin-right: auto;border-radius:25px;">
      <div class="separator"></div>
      <div class="separator"></div>
      <div class="separator"></div>
      <p>
        Aqui viene todo el bla bla bla,
        sobre este app, lo que significa y todo eso.
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        mas bla bla bla bla bla bla
        mas bla bla bla bla bla bla
      </p>
      <p>
        Esta aplicación fue desarrollada por <a href='http://www.green-and-energy.com'> The Green &amp; Energy Consulting Group S.A.</a>
      </p>
      <img src="img/Green_and_Energy_Logo.png" class="helpGaELogo">

      <div class="separator"></div>
      <div class="separator"></div>


    </div> <!-- end of column -->
  </div> <!-- end of row -->

  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--10 topcoat-grid__offset--1">
      <div class="submitButton emailContact">
        <div class="submitButton-Text" >
          <div>
            <p><i class="ion ion-paper-airplane"></i> Contacto</p>
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
</div> <!-- end of grid -->
