<div class="topcoat-list__container side-nav__list__container">
  <ul class="topcoat-list side-nav__list">
    <li class="topcoat-list__item side-nav__list__item is-active" id='home'>
      <a href="#/home" class="side-nav__button">Home</a>
    </li>
    <li class="topcoat-list__item side-nav__list__item" id='whatever'>
      <a href="#/whatever" class="side-nav__button">Whatever</a>
    </li>
    <li class="topcoat-list__item side-nav__list__item" id='whatever'>
      <a href="#/newReportMap" class="side-nav__button">photo</a>
    </li>
    <li class="topcoat-list__item side-nav__list__item" id='whatever'>
      <a class="emailContact side-nav__button">Contacto</a>
    </li>
  </ul>
</div>
