<div class="topcoat-list__container side-nav__list__container">
  <ul class="topcoat-list side-nav__list">
    <li class="topcoat-list__item side-nav__list__item is-active" id='map'>
      <a href="#/map" class="side-nav__button">Mapa</a>
    </li>
    <!--<li class="topcoat-list__item side-nav__list__item" id='whatever'>
      <a class="emailContact side-nav__button">Contacto</a>
    </li>-->
    <li class="topcoat-list__item side-nav__list__item" id='help'>
      <a href="#/help" class="side-nav__button">Ayuda</a>
    </li>
    <!-- the follwoing menu entries are only temporarily-->
    <!--<li class="topcoat-list__item side-nav__list__item" id='nothing'>
      DEBUG ONLY
    </li>
    <li class="topcoat-list__item side-nav__list__item" id='newReportMap'>
      <a href="#/newReportMap" class="side-nav__button">newReportMap</a>
    </li>
    <li class="topcoat-list__item side-nav__list__item" id='newReportCategory'>
      <a href="#/newReportCategory" class="side-nav__button">newReportCategory</a>
    </li>
    <li class="topcoat-list__item side-nav__list__item" id='newReportDetails'>
      <a href="#/newReportDetails" class="side-nav__button">newReportDetails</a>
    </li>-->
  </ul>

</div>
