<div class="topcoat-grid category-grid">
    <div class="topcoat-grid__row">
      <div class="topcoat-grid__column--12">
          Elija una categoría para su reporte
      </div>
    </div>

    <div class="topcoat-grid__row">
      {{#each reportCategoryCollection.models}}
      <div class="topcoat-grid__column--4">
        <div class="reportCategoryButton" categoryID='{{attributes.categoryID}}' style="background-color:{{attributes.categoryColor}};">
          <div class="reportCategoryButton-Text" >
            <div>
              <p>
                <i class="icon {{attributes.categoryIcon}}"></i><br>
                {{attributes.categoryName}}
              </p>
            </div>
          </div>
        </div>
      </div> <!-- end of column -->
      {{/each}}

    </div><!-- end of row -->
</div> <!-- end of category-grid -->


<div style="margin-top:2rem;"></div>

<div class="topcoat-grid category-controls-grid">
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--6 topcoat-grid__offset--3">
      <div class="cancelButton" >
        <div class="cancelButton-Text" >
          <div>
            <p>Cancelar</p>
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
</div><!-- end of grid -->
