<div class="topcoat-grid details-grid">
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--10 topcoat-grid__offset--1">
      <div class="reportDetailsForm">
        <div class="reportDetailsForm-TextInput" >
          <div>
            {{#if reportModel.attributes.categoryModel.attributes.validID}}
            <i class="icon {{reportModel.attributes.categoryModel.attributes.categoryIcon}}" style='color:{{reportModel.attributes.categoryModel.attributes.categoryColor}}'></i>
            {{reportModel.attributes.categoryModel.attributes.categoryName}}
            {{else}}
            <input data-role="none" type="text" name="title" id="reportTitle" placeholder="Titulo del reporte" value="" required>
            {{/if}}
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
  <hr class='separator'>

  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--10 topcoat-grid__offset--1">
      <div class="reportDetailsForm">
        <div class="reportDetailsForm-TextInput" >
          <textarea class="reportDetails" data-role="none" name="details" id="reportDetails" placeholder="Detalles del problema. Por favor sea lo más explicito posible." required></textarea>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
  <hr class='separator'>


  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--10  topcoat-grid__offset--1">
      <div class="topcoat-grid__row photosRow">
        
      </div> <!-- end of row -->
    </div>
  </div> <!-- end of row -->
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--10 topcoat-grid__offset--1">
      <div class="submitButton">
        <div class="submitButton-Text" >
          <div>
              <p>Enviar reporte</p>
      		</div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
</div>
  	<!--<a data-role="none" id="id_del_photo_button" class="photo-corner-button">X</a>
  	-->
