<div class="topcoat-grid details-grid">
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--12 titleDetails">
        Enviar reporte
    </div>
  </div>

  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--10">
      <div class="reportDetailsForm">
        <div class="reportDetailsForm-Label" >
          <div>
            <p>
              Asunto<br>
              <input data-role="none" type="text" name="title" id="reportTitle" placeholder="Titulo del reporte" value="" required>
      			</p>
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--10">
      <div class="reportDetailsForm">
        <div class="reportDetailsForm-Label" >
          <div>
            <p>
              Descripción<br>
              <textarea data-role="none" name="detail" id="reportDetail" placeholder="Detalles del problema. Por favor sea lo más explicito posible." required></textarea>
      			</p>
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--3">
      <div class="reportDetailsForm">
        <div class="reportDetailsForm-Label" >
          <div>
              <i class="icon ion-camera" ></i>
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
    <div class="topcoat-grid__column--9">
      <div class="reportDetailsForm">
        <div class="reportDetailsForm-Label" >
          <div>
            <input class="reportDetailsButton" id="galleryButton" type="button" value="Seleccionar foto" ><br>
            <input class="reportDetailsButton" id="cameraButton" type="button" value="Tomar foto">
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--12">
      <div class="reportDetailsForm">
        <div class="reportDetailsForm-Label" >
          <div>
            <p>
              <input class="sendButton" id="sendReportButton" type="button" data-theme="a" value="Enviar reporte">
      			</p>
          </div>
        </div>
      </div>
    </div> <!-- end of column -->
  </div> <!-- end of row -->
</div>
  	<!--<a data-role="none" id="id_del_photo_button" class="photo-corner-button">X</a>
  	-->
