<div class="topcoat-grid__column--3">
  <div class="photoContainer {{getMiniaturePictureClass this.pictureModel}}">
    {{#if this.pictureModel}}
    <!-- here comes the picture inside the box -->
    {{else}}
    <p><i class="icon ion-camera"></i></p>
    {{/if}}
  </div>
</div> <!-- end of column -->
