html, body {
    margin:0;
    padding:0;
    height: 100%;
}
body {
    font-family: source-sans-pro, sans-serif;
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
body.left-nav .topcoat-navigation-bar, body.left-nav .main-content {
    left:250px;
}

.topcoat-navigation-bar {
    background: rgb(121,171,193);
    position:absolute;
    width:100%;
    z-index:100;
    transition: left 0.2s ease-out;
    -webkit-transition: left 0.2s ease-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
.side-nav {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:320px;
    height:100%;
    /*background-color:#353535;*/
}
.side-nav__list__container {
    margin-top:4rem;
    border-top:none;
    border-bottom:none;
}
.side-nav__list {
    border-top:none;
}
.side-nav__list__item {
    padding:0;
}
.side-nav__list__item.is-active {
    background-color:rgba(156, 170, 171, 0.48);
}
.side-nav__button {
    display:block;
    width:100%;
    height:100%;
    padding: 1.25rem;
    box-sizing: border-box;
    color: #999 !important;
    text-decoration:none !important;
}
.side-nav__button:hover {
    background-color:rgba(156, 170, 171, 0.48);
    color: #999;
    text-decoration:none;
}
.side-nav__button:active {
    background-color:rgba(156, 170, 171, 0.48);
    color: #999 !important;
    text-decoration:none !important;
}
.main-content {
    position: absolute;
    background: inherit;
    left: 0;
    padding-top:4rem;
    width:100%;
    height:100%;
    transition: left 0.2s ease-out;
    -webkit-transition: left 0.2s ease-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
}
@media screen and (min-width: 640px) { /* @media screen and (min-width: 880px) { */
    .slide-menu-button {
        display:none;
    }
    .main-content {
        left:320px;
        right:0;
        width:auto;
    }
}

#mapCanvas{
    height: 100vh;
    width:100%;
    color:white;
    background-color:white;

}
.slide-menu-button{
  top: 0.3em;
}

.topcoat-navigation-bar__title{
  font-size: 1.8rem;
  color: #EEEEEE;
}

/*
####################################     newReportCategoryView
*/

.category-grid>div.topcoat-grid__row{
  /*margin-top:2rem;*/
}
.category-grid>div.topcoat-grid__row>div{
  margin-top:2rem;
}
.reportCategoryButton{
  width: 100%;
  height: 10rem;
  line-height: 10rem;
  border-radius: 0px;
  border-style: hidden;
}
.reportCategoryButton-Text{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:10rem;
  line-height:1.5rem;
  color:white;
}


.reportCategoryButton-Text>div>p{
    text-align:center;
    margin-bottom: 0px !important;
    padding-left:1rem;
    padding-right:1rem;
}
.reportCategoryButton-Text>div>p>i{
    font-size: 350%;
}

.cancelButton{
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-radius: 0px;
  border-style: hidden;
  background-color: #F36228;
}

.cancelButton-Text{
  display:flex;
  justify-content:center;
  align-items:center;
  height:4rem;
  color:white;
}
.cancelButton-Text>div>p{
  text-align:center;
  margin-bottom: 0px !important;
}

/*
####################################   END  of   newReportCategoryView
*/

/*
####################################     newReportDetailsView
*/

.titleDetails{
  font-size: 18px;
}

.details-grid{
  margin-top: 1em;
}

.reportDetails{
  width: 100%;
  height: 14em;
}

.ion-camera{
  font-size: 50px;
  padding: 30%;
}

.reportDetailsForm{
  margin-top: 0.8em;
}

.photoButtons{
  height: 2.1rem;
  background-color: rgb(121,171,193);
  margin-top: 0.2em;
}

.photoButtons-Text{
  display:flex;
  justify-content:center;
  align-items:center;
  color: #EEEEEE;
}
.photoButtons-Text>div>p{
  text-align:center;
  margin-bottom: 0px !important;
}

.submitButton{
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-radius: 0px;
  border-style: hidden;
  background-color: rgb(121,171,193);
  margin-top: 1em;
}

.submitButton-Text{
  display:flex;
  justify-content:center;
  align-items:center;
  height:4rem;
  color: #EEEEEE;
}
.submitButton-Text>div>p{
  text-align:center;
  margin-bottom: 0px !important;
}
/*
####################################   END  of   newReportCategoryView
*/
